<form (ngSubmit)="salvar()">
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Nome:</label>
        <input type="text" class="form-control" name="exampleInputText1" aria-describedby="emailHelp"
            [(ngModel)]="carro.nome">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Ano:</label>
        <input type="number" class="form-control" [(ngModel)]="carro.ano">
    </div>
    <button type="submit" class="btn btn-primary btn-hoverAdd">Salvar</button>
</form>
<style>
    .btn-hoverAdd:hover {
      background-color: rgb(21, 255, 0);
      border-color: rgb(21, 255, 0);
      color: black; 
    }
  </style>