<div class="container py-4 text-center">
    <h3 class="alert alert-primary">Listagem de carros!</h3>
    <td> <button class="btn btn-primary btn-hoverAdd" (click)="adicionar(modal1)">Adicionar</button> </td>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped center">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let carro of lista; let i = index">
                        <th scope="row">{{ carro.id }}</th>
                        <td> {{ carro.nome }} </td>
                        <td> {{ carro.ano }} </td>
                        <td> 
                            <button class="btn btn-primary btn-hoverEdit" (click)="editar(modal1, carro)">Editar</button> 
                            <button class="btn btn-primary btn-hoverDelet" (click)="deletar(carro.id)">Excluir</button> 
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>

<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Adicionar</h4>
        <button type="button" class="btn-close btn-hoverDelet" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-carrosdetails [carro]="carroSelecionadaParaEdicao" (retorno)="addOuEditarCarro($event)" ></app-carrosdetails>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-hoverDelet" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<style>
    .btn-hoverEdit:hover {
      background-color: yellow;
      border-color: yellow;
      color: black;
    }
    .btn-hoverDelet:hover {
      background-color: red;
      border-color: red;
      color: black; 
    }
    .btn-hoverAdd:hover {
      background-color: rgb(21, 255, 0);
      border-color: rgb(21, 255, 0);
      color: black; 
    }
  </style>